.footer {
    position:fixed;
    bottom: 0;
    height: 50px;
    margin-top: 50px;
    width:100%;
    height: 70px;
    background-color: #333333;
}

.migracode {
    position: absolute;
    width: 107px;
    left: 85%;
    bottom: -23%;
}

.universidad {
    position: absolute;
    width: 107px;
    left: 15%;
    bottom: 38%;
}